@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=DM Serif Display');

html {
  background: #e6e6e6;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  }

nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), #e6e6e6);
  text-align: right;
}
nav .container ul li {
  display: inline-block;
}
nav .container ul li a {
  float: right;
  text-decoration: none;
  padding: 0px 15px;
  color: black;
  font-size: 12px;
}

section {
  padding: 15%;
  padding-bottom: 120px;
}

#about {
  font-size: 20px;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
}

p {
  color:rgb(116, 130, 151);
  margin-top:0px;
}

b {
  font-weight: 600;
  font-style: italic;
}

.spacer {
  height: 30px;
  width: 100%;
}

.about-photo {
  float: left; 
  width: 30%;
}

.about-blurb {
  float: left;
  padding-left: 30px;
  width: 60%; 
  margin-top: 0px;
}

.about-blurb img {
  width: 150px;
  object-fit: cover; 
  object-position: 40% 40;
  height: 25px;
}

.headline {
  font-family: 'DM Serif Display';
  font-size: 30px;
  margin-bottom: 0px;
  color:rgb(20, 44, 80);
}

.underline {
  margin-left: 75px;
  margin-top: -30px;
}

.title {
  float: left; 
  width: 20%; 
  font-size: 16px;
  font-weight: 800;
  color:rgb(20, 44, 80);
  margin-bottom: 20px;
}

.blurb {
  float: left; 
  width: 80%; 
  padding-bottom: 100px;
  color:rgb(116, 130, 151);
  margin: 0px;
}

.experience-entry {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.experience-text {
  flex: 1;
  font-size: 14px;
  margin: 0px;
}

.experience-subtitle {
  flex: 1;
  margin: 0px 18px;
  font-size: 14px;
}

.experience-date {
  text-align: right;
  font-size: 14px;
  color: #666;
}


.project-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-image {
  width: 70%;
  flex: 80%;
  margin-bottom: 10px;
}

.project-details {
  flex: 30%;
  padding: 10px;
  text-align: left;
  font-size: 12px;
  color:rgb(20, 44, 80);
}

@media (max-width: 500px) {
  section {
    padding: 10%;
    padding-top: 80px;
  }
  #about {
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: inline-block;
    vertical-align: top;
  }
  .about-photo {
    float: left; 
    width: 30%;
  }
  .about-blurb {
    font-size: 11px;
    padding-left: 20px;
  }
  .about-blurb img {
    width: 70px;
    object-fit: cover; 
    object-position: 40% 40;
    height: 25px;
  }
  .headline {
    font-size: 14px;
    margin-bottom: 0px;
    color:rgb(20, 44, 80);
  }
  .underline {
    margin-left: 35px;
    margin-top: -10px;
  }
}

@media (max-width: 1000px) {

  #about {
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: inline-block;
    vertical-align: top;
  }
  .about-blurb {
    font-size: 16px;
    padding-left: 20px;
  }

  .title, .blurb {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 14px;
  }
  
  .title {
    font-size: 16px;
    font-weight: 800;
    color:rgb(20, 44, 80);
    margin-bottom: 20px;
  }

  .project-card {
    flex-direction: column;
    align-items: stretch;
  }

  .project-image {
    width: 100%;
    flex: none;
  }
}

.buttons {
  margin-top: 15px;
}

.buttons a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.buttons a:hover {
  background-color: #2980b9;
}

.technology-pills {
  display: flex;
  flex-wrap: wrap;
}

.technology-pill {
  background-color: #cecdcd;
  color: #333;
  padding: 0.3rem;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  border-radius: 10px;
  font-size: 12px;
}