@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=EB Garamond');

html {
  background: #e6e6e6;
  font-family: 'Lato', sans-serif;
  display: flex;
  scroll-behavior: smooth;
}

body {
  background: #e6e6e6;
  margin: 0px;
}

section {
  background: #e6e6e6;
  padding: 15%;
}

p {
  color:rgb(116, 130, 151);
  margin-top: 0px;
  margin-bottom: 8px;
  font-weight: 300;
}

b {
  font-weight: 700;
}

a {
  color: #333;
  text-decoration: none;
  display: inline-block;
}

.title {
  float: left; 
  width: 20%; 
  font-size: 16px;
  font-weight: 800;
  color:#333;
  margin-bottom: 20px;
}

.blurb {
  float: left; 
  width: 80%; 
  padding-bottom: 80px;
  color:rgb(116, 130, 151);
  margin: 0px;
}

.blurb b {
  color:#333;
}

.blue-link {
  color: #3b68d9;
  text-decoration: none;
  display: inline-block;
}

/*///////////////////////////////////////////////*/
/*///////////   NAVIGATION BAR   ////////////////*/
/*///////////////////////////////////////////////*/

nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), #e6e6e6);
  text-align: right;
}

nav .container ul li {
  display: inline-block;
}

nav .container ul li a {
  float: right;
  text-decoration: none;
  padding: 0px 15px;
  color: #333;
  font-size: 14px;
}

/*///////////////////////////////////////////////*/
/*///////////   ABOUT SECTION    ////////////////*/
/*///////////////////////////////////////////////*/

#about {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#about b {
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  font-style: italic;
  color: #3b68d9;
}

.about-photo {
  float: left; 
  width: 30%;
}

.about-blurb {
  float: left;
  padding-left: 30px;
  width: 60%; 
  margin-top: 0px;
}

.about-blurb img {
  width: 150px;
  object-fit: cover; 
  object-position: 40% 40;
  height: 25px;
}

.headline {
  
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 0px;
  color:#333;
}

.underline {
  margin-left: 75px;
  margin-top: -30px;
}

.icons {
  display: flex;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3b68d9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 5px;
}

.icon img {
  width: 20px;
  height: 20px;
}

/*///////////////////////////////////////////////*/
/*//////////   EXPERIENCE ENTRY   ///////////////*/
/*///////////////////////////////////////////////*/

.experience-entry {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.experience-title {
  font-size: 14px;
  font-weight: 800;
  margin: 0px
}

.experience-subtitle {
  flex: 1;
  margin: 0px 24px;
  font-size: 14px;
}

.experience-date {
  text-align: right;
  font-size: 14px;
}

/*///////////////////////////////////////////////*/
/*//////////     PROJECT ENTRY    ///////////////*/
/*///////////////////////////////////////////////*/

.project-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.project-image {
  flex: 80%;
  margin-bottom: 10px;
  margin-right: 30px;
}

.project-image img {
  max-width: 100%;
  margin-bottom: 10px;
  float: right
}

.project-title {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.project-details {
  flex: 30%;
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  font-size: 14px;
  color:#333;
}

.technology-pills {
  display: inline-block;
  max-width: 100%;
}

.technology-pill {
  display: inline-block;
  background-color: #cecdcd;
  color: #333;
  padding: 0.3rem 0.5rem;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  border-radius: 5px;
  font-size: 12px;
}

.read-more-link {
  display: inline-block;
  color: #3b68d9;
  margin-bottom: 0.8rem;
  margin-top: 0.2rem;
  border-radius: 10px;
  font-size: 14px;
}

/*///////////////////////////////////////////////*/
/*//////////     MEDIUM SIZE      ///////////////*/
/*///////////////////////////////////////////////*/

@media (max-width: 800px) {

  #about {
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: inline-block;
    vertical-align: top;
  }
  .about-blurb {
    font-size: 16px;
    padding-left: 20px;
  }

  .title, .blurb {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 14px;
  }

  .blurb {
    flex-direction: column;
    display: inline-block;
    align-items: stretch;
  }
  
  .title {
    font-size: 16px;
    font-weight: 800;
    color:rgb(20, 44, 80);
    margin-bottom: 20px;
  }

  .project-card {
    flex-direction: column;
  }

  .project-image img {
    width: 100%;
    flex: none;
  }

  .about-blurb img {
    width: 100px;
    object-fit: cover; 
    object-position: 40% 40;
    height: 25px;
  }
  
  .underline {
    margin-left: 50px;
    margin-top: -30px;
  }
  
  .headline {
    font-size:20px;
  }

  .title, .blurb, .experience-text, .experience-subtitle, .experience-date, .project-title {
    font-size: 14px;
  }
}

/*///////////////////////////////////////////////*/
/*//////////     SMALL  SIZE      ///////////////*/
/*///////////////////////////////////////////////*/

@media (max-width: 600px) {
  section {
    padding: 10%;
    padding-top: 80px;
  }
  #about {
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: inline-block;
    vertical-align: top;
  }
  .about-photo {
    float: left; 
    width: 30%;
  }
  .about-blurb {
    font-size: 14x;
    padding-left: 20px;
  }
  .about-blurb img {
    width: 90px;
    object-fit: cover; 
    object-position: 40% 40;
    height: 25px;
  }
  .headline {
    font-size: 20px;
    margin-bottom: 0px;
    color:#333;
  }
  .underline {
    margin-left: 50px;
    margin-top: -10px;
  }

  .experience-entry {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }

  .experience-date {
    text-align: left;
    margin: 0px 24px;
  }
}

/*///////////////////////////////////////////////*/
/*//////////     XSMALL  SIZE      ///////////////*/
/*///////////////////////////////////////////////*/

@media (max-width: 300px) {
  .about-blurb img {
    width: 0px;
  }
  .about-photo {
    width: 0px;
  }
}